# Nuxt dev/build outputs
.output
dist
.data
.nuxt
.nitro

# Cloudflare / wrangler local state
.wrangler
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
